@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #DC2626;
  --primary-foreground: #ffffff;
  --muted: #404040;
  --muted-foreground: #a3a3a3;
  --border: #27272a;
}

@theme {
  --color-magic-red: #E8443C;
  --color-magic-iron-1: #1B1B1B;
  --color-magic-iron-2: #222222;
  --color-magic-back: #161616;
  --color-magic-border-1: #323232;
  --color-magic-border-2: #4E4E4E;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Dragon Hunter';
  src: url('/fonts/DRAGON HUNTER.otf');
  font-weight: normal;
  font-style: normal;
}

.font-dragon {
  font-family: 'Dragon Hunter', sans-serif;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
  font-family: Poppins;
}

/* normal_toast */

div.normal_toast {
  background-color: #1f2937;
  color: rgb(255, 255, 255);
  /* border: 1px solid #aaaaaa; */
  border-radius: 12px;
  padding: 14px 20px;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
  /*user-select: none;*/
}


.normal_toast:hover {
  background-color: rgb(87, 87, 87);
}
